---
layout: index
title: Contato
permalink: /contact/
---
<div id="contact" class="contact-section">
  <div class="container">
    <div class="contact-title-row row">
      <div class="contact-title-col col-sm-8 col-sm-offset-2">
        <h2 class="section-title"><b>Creating</b> Communication.</h2>
        <p class="text-lead">A tree moving which seed replenish she'd said shall every third. Greater their dominion tree night you greater, they're days.</p>
      </div>
    </div>
  </div>

  <div id="map-canvas" class="map-canvas"></div> <!-- content map -->

    <div class="container">
      <div class="contact-content-row row">
        <div class="contact-left-col col-sm-6 col-md-5">
          <div class="panel panel-theme-1">
            <div class="panel-heading">
              <h5>Contato</h5>
            </div>

            <div class="panel-body">
              <form id="contactForm" class="form form-lite" data-action="assets/php/contact.php">
                <fieldset class="row">
                  <div class="form-group col-sm-6">
                    <label for="contactName">Nome</label>
                    <input id="contactName" class="form-control" type="text" placeholder="Enter your name" name="name">
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="contactEmail1">Email</label>
                    <input id="contactEmail1" class="form-control" type="email" placeholder="Enter your email" name="email">
                  </div>

                  <div class="form-group col-xs-12">
                    <label for="contactMessage">Mensagem</label>
                    <textarea id="contactMessage" class="form-control" placeholder="Enter your message" rows="4" name="message"></textarea>
                  </div>

                  <div class="form-group col-xs-12">
                    <button class="btn btn-block btn-lg btn-theme-1" type="submit">Submit</button>
                  </div>

                  <div class="col-xs-12">
                    <span class="form-notify help-block"><h6>*Todos os campos são necessários.</46></span>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>

        <div class="contact-info-col col-sm-5 col-sm-offset-1 col-md-offset-2">
          <div class="contact-info">
            <ul class="media-list">
              <li class="media">
                <div class="media-left">
                  <img class="media-object" src="/imgs/empresa/local.png" alt="">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Localização</h4>
                     <p><h4>{% for line in site.address %}
                            {{ line }}
                                {% endfor %}</h4>
                      </p>
                </div>
              </li>

              <li class="media">
                <br></br>
                <div class="media-left">
                  <img class="media-object" src="/imgs/empresa/phone.png" alt="">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Telefone</h4>
                  <p><h4>{% for line in site.phone %}
                         {{ line }}<br>
                             {% endfor %}</h4>
                   </p>
                </div>
              </li>

              <li class="media">
                <br></br>
                <div class="media-left">
                  <img class="media-object" src="/imgs/empresa/at.png" alt="">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Email</h4>
                  <p><h4>{% for line in site.email %}
                         {{ line }}
                             {% endfor %}</h4>
                   </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- #contact -->
