<div id="faq" class="faq-section">
  <div class="container">
    <div class="title-row row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="section-title"><br>Dúvidas frequentes</h2>
      </div>
    </div>
    <div class="row content-row">
      <div class="faq-box-col col-sm-6">
        <div class="faq-box wow bounceIn">
          <div class="faq-box-question">
            <h5><span class="q">Q</span> How long does it take to build a website?</h5>
          </div>
          <div class="faq-box-answer">
            <p>A tree moving which seed replenish she'd said shall every third. Greater their dominion tree night you greater, they're days.</p>
          </div>
        </div> <!-- .faq-box-->

        <div class="faq-box wow bounceIn">
          <div class="faq-box-question">
            <h5><span class="q">Q</span> How long does it take to build a website?</h5>
          </div>
          <div class="faq-box-answer">
            <p>A tree moving which seed replenish she'd said shall every third. Greater their dominion tree night you greater, they're days.</p>
          </div>
        </div> <!-- .faq-box-->

        <div class="faq-box wow bounceIn">
          <div class="faq-box-question">
            <h5><span class="q">Q</span> How long does it take to build a website?</h5>
          </div>
          <div class="faq-box-answer">
            <p>A tree moving which seed replenish she'd said shall every third. Greater their dominion tree night you greater, they're days.</p>
          </div>
        </div> <!-- .faq-box-->
      </div>

      <div class="faq-box-col col-sm-6">
        <div class="faq-box wow bounceIn">
          <div class="faq-box-question">
            <h5><span class="q">Q</span> How long does it take to build a website?</h5>
          </div>
          <div class="faq-box-answer">
            <p>A tree moving which seed replenish she'd said shall every third. Greater their dominion tree night you greater, they're days.</p>
          </div>
        </div> <!-- .faq-box-->

        <div class="faq-box wow bounceIn">
          <div class="faq-box-question">
            <h5><span class="q">Q</span> How long does it take to build a website?</h5>
          </div>
          <div class="faq-box-answer">
            <p>A tree moving which seed replenish she'd said shall every third. Greater their dominion tree night you greater, they're days.</p>
          </div>
        </div> <!-- .faq-box-->

        <div class="faq-box wow bounceIn">
          <div class="faq-box-question">
            <h5><span class="q">Q</span> How long does it take to build a website?</h5>
          </div>
          <div class="faq-box-answer">
            <p>A tree moving which seed replenish she'd said shall every third. Greater their dominion tree night you greater, they're days.</p>
          </div>
        </div> <!-- .faq-box-->
      </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="section-title"><br>Ainda com dúvidas? Entre em contato conosco!</h2>
      </div>
    </div>
  </div>
