<footer class="site-footer">
  <div id="siteFooterTop" class="site-footer-top-section">
    <div class="container">
      <div class="site-footer-top-row row">
        <div class="site-footer-top-col col-sm-8 col-sm-offset-2">
          <h2 class="section-title"><b>{{site.title}}</b><p>{{site.subtitle}}</h2>
            <br></br>
        </div>
      </div>
    </div>
  </div> <!-- #siteFooterTop -->

  <div id="siteFooterBottom" class="site-footer-bottom-section">
    <div class="container">
      <div class="site-footer-bottom-border"></div>
      <div class="row">
        <div class="site-footer-bottom-left-col col-md-6">
          <div class="site-footer-brand">
            <span>{{site.prod}}&nbsp;</span>{{site.by}}
          </div>

          <div class="site-footer-bottom-info">
            <ul>
              <li><a href="#" class="popup-inline" data-mfp-src="#termsOfService">Terms of Service</a></li>
              <li><a href="#" class="popup-inline" data-mfp-src="#privacyPolicy">Privacy Policy</a></li>
              <li><a href="#" class="popup-inline" data-mfp-src="#acceptableUsePolicy">Acceptable Use Policy</a></li>
            </ul>
          </div>
        </div>

        <div class="site-footer-bottom-right-col col-md-6">
          <ul class="site-footer-bottom-social-list">
            {% for social in site.social %}
            <li><a href="http://{{social.url}}" target="_blank"><span class="{{social.title}}"></span></a>
            {% endfor %}</li>
            </ul>
          <div class="site-footer-bottom-copyright">{{site.copyright}}&nbsp;{{site.dir}}</div>
        </div>
      </div>
    </div>
  </div> <!-- #siteFooterBottom -->
</footer>
