<header id="siteHeader" class="site-header site-header-fixed-top">
  <nav id="siteNavbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle-icon navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon ti-layout-grid3-alt"></span>
        </button>

        <a class="navbar-brand" href="/index">
          <img class="navbar-brand-media-dark" src="{{"/assets/img/logo-labmet.png" | prepend:baseurl}}" alt="">
        </a>
      </div> <!-- .navbar-header -->

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="button"><a href="/index"><h3>Home</h3></a></li>
          <li><a href="/about"><h3>Sobre</h3></a></li>
          <li><a href="/docs"><h3>Dúvidas Frequentes</h3></a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h3>Dados<span class="caret"></span></h3></a>
                <ul class="dropdown-menu">
                  <li><a href="/public"><h3>Públicos</h3></a></li>
                  <li><a href="/private"><h3>Privados</h3></a></li>
                </ul>
          <li><a href="/contact"><h3>Contato</h3></a></li>
          <li><button class="navbar-btn btn btn-theme-2 popup-inline" type="button" data-mfp-src="#popupForm"><h3>Login<h3></button></li>
        </ul>
      </div> <!-- .navbar-collapse -->
    </div>
  </nav>
</header> <!-- .site-header -->
